.icon {

  &.icon-small {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }

  &.icon-large {
    width: 38px;
    height: 38px;
    line-height: 38px;
  }

  &.icon-rectangle {
    border: 0 solid;
    border-radius: 12px;
  }

}