@keyframes jump-arrow {
  0%, 20%, 55%, 80%, 100% {
    transform: translate3d(-50%, 0, 0);
  }
  40% {
    transform: translate3d(-50%, -15px, 0);
  }
  70% {
    transform: translate3d(-50%, -10px, 0);
  }
  90% {
    transform: translate3d(-50%, -5px, 0);
  }
}
