/**
  Motion Bridge - Button
 */
@import '../../color/colors';

@mixin mb-text($colorName) {
  $color: map-get($colors, $colorName);
  color: $color;
}

@mixin mb-text-weight($number) {
  font-weight: $number;
}

.text-red {
  @include mb-text(red);
}

.text-weight-500 {
  @include mb-text-weight(500);
}
