// Text Fields

.text-field {

  &.style-primary {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0 solid;
    border-radius: 8px;

    .MuiOutlinedInput-notchedOutline {
      border: 0 solid;
      border-radius: 8px;
    }

  }

  &.style-secondary {
    border: 2px solid #757575a6;
    border-radius: 8px;

    &::placeholder {
      color: #757575;
    }

    .MuiInputLabel-root {
      color: #757575;
    }

    .MuiOutlinedInput-notchedOutline {
      border: 0 solid;
      border-radius: 8px;
    }

  }

}